<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/app.css">
	<title></title>
</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
	<div class="nav-contaier">
		<a class="nav-link" href="/#/">Posts</a>
		<a class="nav-link" href="/#/register">Register</a>
		<a class="nav-link" href="/#/login">Login</a>
		Logged In as {{currentUser.username}}
	</div>

	<div ng-view> </div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"> </script>
	<script type="text/javascript" src="https://cdn.rawgit.com/gsklee/ngStorage/master/ngStorage.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>
